* {
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #050f33;
  font-size: 0; }

header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  background-color: #142666;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 2px #809bff;
  z-index: 10; }
  header div {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    header div #logoW {
      width: 70px;
      margin-left: 5px; }
  header nav {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    height: 100%;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-items: center;
    vertical-align: top; }
    header nav ul {
      display: flex;
      justify-content: flex-end;
      margin-top: 23px;
      margin-right: 15px; }
      header nav ul li {
        width: 127px;
        height: 20px;
        display: inline-block;
        color: white;
        padding-left: 5px;
        margin: 2px;
        border-radius: 5px; }
        header nav ul li .textoboton a {
          list-style-type: none;
          text-decoration: none;
          text-align: center; }

a {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  font-family: "Jost", sans-serif;
  color: white; }

main {
  width: 100%;
  height: 80%;
  background-color: #050f33;
  font-size: 1rem; }
  main section h1 {
    font-family: "Jost", sans-serif;
    font-size: 7rem;
    color: #809bff;
    margin-top: 2rem;
    text-align: center; }
  main section h2 {
    font-family: "Jost", sans-serif;
    font-size: 2.5rem;
    margin: 0 0 3rem 0;
    color: #809bff;
    text-align: center; }
  main section p {
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    color: #809bff;
    text-align: center;
    margin: 1rem; }

#aportes {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  font-size: 2.5rem;
  color: #809bff; }
  #aportes .forms {
    font-size: 1.5rem;
    font-family: "Jost", sans-serif;
    color: #809bff; }
    #aportes .forms fieldset {
      padding: 1rem;
      margin: 1rem; }
  #aportes #juego, #aportes #aporte, #aportes #archivos, #aportes #descripcion, #aportes #enviar {
    background-color: rgba(128, 155, 255, 0.5);
    color: #142666;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 3px 3px #142666; }
  #aportes #descripcion {
    width: 65%; }
  #aportes #enviar {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 1rem;
    padding: 0.5rem;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center; }

.contenedorGrid {
  width: 100%;
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: "pages review" "pages review" "pages review" "pages review" "pages review" "pages review" "prox  prox"; }
  .contenedorGrid .pagesContainer, .contenedorGrid .reviewContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: pages;
    justify-content: space-evenly !important;
    align-items: center;
    flex-shrink: 1 !important; }
  .contenedorGrid .reviewContainer {
    grid-area: review; }
  .contenedorGrid #proximamente {
    grid-area: prox;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 50%;
    margin: auto; }

.boton, .botonImagen {
  font-family: "Jost", sans-serif;
  font-size: 2.5rem;
  margin: 1rem;
  width: 100%;
  height: 205px;
  background-color: #142666;
  color: #809bff;
  text-align: center;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.3s ease-out; }
  .boton:hover, .botonImagen:hover {
    box-shadow: 0px 0px 5px 5px #809bff; }
  .boton a, .botonImagen a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    transition: all 0.3s ease-in; }
    .boton a:hover, .botonImagen a:hover {
      transform: scale(1.2); }
    .boton a .imagen, .botonImagen a .imagen {
      width: 70%;
      height: 205px; }
  .boton #proximamente a, .botonImagen #proximamente a {
    width: 100%;
    color: #809bff;
    font-size: 5rem !important; }
    .boton #proximamente ahover, .botonImagen #proximamente ahover {
      font-size: 5.5rem; }

.botonImagen {
  background-color: transparent; }
  .botonImagen:hover {
    box-shadow: none; }

.texto, .textoLateral {
  color: #809bff;
  background-color: rgba(20, 38, 102, 0.6);
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  width: 95%;
  height: 20rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 1px #809bff;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center; }

.textoLateral {
  font-size: 1.2rem;
  width: 80%;
  height: 42rem;
  justify-content: space-around; }

.video {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem; }
  .video iframe {
    box-shadow: 0 0 0.5rem 0.3rem #809bff;
    border-radius: 1rem; }

.cardsContainer {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80%;
  width: 95%;
  gap: 2rem; }
  .cardsContainer a .carta {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    flex-wrap: nowrap;
    width: 160px;
    height: 210px;
    background-color: rgba(128, 155, 255, 0.75);
    border-radius: 20px;
    box-shadow: 0.5rem 1rem 1rem #050f33;
    transition: all 0.2s ease-in; }
    .cardsContainer a .carta:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 25px 5px rgba(128, 155, 255, 0.75); }
    .cardsContainer a .carta .imgCarta {
      margin: 1px 0 5px 3px;
      overflow: hidden; }
      .cardsContainer a .carta .imgCarta img {
        border: solid 2px #809bff;
        height: 130px;
        width: 150px;
        background-color: rgba(5, 15, 51, 0.85); }
    .cardsContainer a .carta .textoCarta h3 {
      font-family: "Jost", sans-serif;
      font-size: 1.5rem;
      color: #050f33; }
    .cardsContainer a .carta .textoCarta p {
      font-family: "Jost", sans-serif;
      color: #050f33;
      font-size: 1rem;
      font-weight: 500; }

footer {
  height: 10%;
  width: 100%;
  background-color: #142666;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center; }
  footer nav {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    height: 100%;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-items: center;
    vertical-align: top; }
    footer nav ul {
      display: flex;
      justify-content: flex-end;
      margin-top: 23px;
      margin-right: 15px; }
      footer nav ul li {
        width: 127px;
        height: 20px;
        display: inline-block;
        color: white;
        padding-left: 5px;
        margin: 2px;
        border-radius: 5px; }
        footer nav ul li .textoboton a {
          list-style-type: none;
          text-decoration: none;
          text-align: center; }
  footer ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%; }
    footer ul li {
      width: 200px;
      height: 20px;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      margin: 1rem;
      list-style-type: none;
      text-decoration: none;
      text-align: center; }
      footer ul li .network {
        width: 3.4rem;
        height: 3rem; }
      footer ul li .textoboton {
        width: 127px;
        height: 20px;
        list-style-type: none;
        background-color: #809bff;
        color: white;
        text-align: center;
        margin: 2px;
        border-radius: 5px;
        list-style-type: none;
        text-decoration: none;
        text-align: center; }
        footer ul li .textobotonhover {
          width: 12.5rem;
          height: 2rem;
          background-color: #809bff; }
        footer ul li .textoboton a {
          list-style-type: none;
          text-decoration: none;
          color: white;
          width: 100%; }
          footer ul li .textoboton ahover {
            color: #050f33;
            font-size: 1.5rem; }

@media screen and (max-width: 1024px) {
  #logoW {
    height: 100%; }
  main .pagesContainer, main .contenedorGrid .reviewContainer, .contenedorGrid main .reviewContainer {
    width: 100%; }
    main .pagesContainer .texto, main .contenedorGrid .reviewContainer .texto, .contenedorGrid main .reviewContainer .texto, main .pagesContainer .textoLateral, main .contenedorGrid .reviewContainer .textoLateral, .contenedorGrid main .reviewContainer .textoLateral {
      width: 90%;
      font-size: 1rem; }
    main .pagesContainer .boton, main .contenedorGrid .reviewContainer .boton, .contenedorGrid main .reviewContainer .boton, main .pagesContainer .botonImagen, main .contenedorGrid .reviewContainer .botonImagen, .contenedorGrid main .reviewContainer .botonImagen {
      width: 90%;
      font-size: 3.5rem; }
      main .pagesContainer .boton a, main .contenedorGrid .reviewContainer .boton a, .contenedorGrid main .reviewContainer .boton a, main .pagesContainer .botonImagen a, main .contenedorGrid .reviewContainer .botonImagen a, .contenedorGrid main .reviewContainer .botonImagen a {
        width: 100%; }
        main .pagesContainer .boton a .imagen, main .contenedorGrid .reviewContainer .boton a .imagen, .contenedorGrid main .reviewContainer .boton a .imagen, main .pagesContainer .botonImagen a .imagen, main .contenedorGrid .reviewContainer .botonImagen a .imagen, .contenedorGrid main .reviewContainer .botonImagen a .imagen {
          width: 100%; }
  main #proximamente {
    width: 100%;
    font-size: 3rem; }
  main .reviewContainer {
    width: 100%; }
    main .reviewContainer .textoLateral {
      width: 90%;
      font-size: 1rem; }
      main .reviewContainer .textoLateral .cardsContainer {
        height: 70%;
        flex-wrap: wrap; }
        main .reviewContainer .textoLateral .cardsContainer a .carta {
          height: 180px;
          width: 130px; }
          main .reviewContainer .textoLateral .cardsContainer a .carta .imgCarta img {
            height: 100px;
            width: 120px; } }

@media screen and (max-width: 768px) {
  main .contenedorGrid {
    display: flex;
    flex-direction: column; }
    main .contenedorGrid .pagesContainer .texto, main .contenedorGrid .reviewContainer .texto, main .contenedorGrid .pagesContainer .textoLateral, main .contenedorGrid .reviewContainer .textoLateral {
      visibility: hidden; }
  main #proximamente {
    font-size: 2rem; }
  main .textoLateral {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    visibility: visible !important; }
    main .textoLateral p {
      display: none; }
  main .boton, main .botonImagen {
    font-size: 3rem; } }

@media screen and (max-width: 425px) {
  header div nav ul {
    width: 70%;
    height: 30%; }
    header div nav ul li {
      width: 30%;
      height: 30%; }
  #logoW {
    margin-left: 1rem; }
  main section h1 {
    font-size: 3rem; }
  main section h2 {
    font-size: 1.5rem; }
  main .contenedorGrid {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%; }
    main .contenedorGrid .reviewContainer {
      display: none; }
    main .contenedorGrid .pagesContainer .boton, main .contenedorGrid .reviewContainer .boton, main .contenedorGrid .pagesContainer .botonImagen, main .contenedorGrid .reviewContainer .botonImagen {
      width: 80%;
      font-size: 1rem;
      margin: auto; }
      main .contenedorGrid .pagesContainer .boton a .imagen, main .contenedorGrid .reviewContainer .boton a .imagen, main .contenedorGrid .pagesContainer .botonImagen a .imagen, main .contenedorGrid .reviewContainer .botonImagen a .imagen {
        width: 100%; }
    main .contenedorGrid .pagesContainer .texto, main .contenedorGrid .reviewContainer .texto, main .contenedorGrid .pagesContainer .textoLateral, main .contenedorGrid .reviewContainer .textoLateral {
      font-size: 1rem;
      width: 90%;
      margin: 1.5rem;
      visibility: visible; }
  main #proximamente {
    width: 95%;
    margin: 1.5rem;
    font-size: 1.5rem; }
  footer {
    margin-top: 1rem; }
    footer nav ul {
      margin: none; }
  .textoboton {
    width: 35%;
    font-size: 0.6rem; }
  .network {
    width: 80%; } }
