footer {
    height: $alturaBarras;
    width: $anchoTotal;
    background-color: $special;
    font-size: $standar;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    ul {
        display: flex;
        flex-wrap: nowrap;
        width: $anchoTotal;
        justify-content: center;
        justify-items: center;
        align-items: center;
        li {
            width: 200px;
            height: 20px;
            display: flex;
            justify-content: center;
            justify-items: center;
            align-items: center;
            margin: $standar;
            list-style-type: none;
            .network {
                width: ($standar)*3.4;
                height: ($standar)*3;
            }
            .textoboton {
                width: 127px;
                height: 20px;
                display: flex;
                justify-content: center;
                background-color:$background;
                color: $fuenteBoton;
                text-align: center;
                margin: 2px;
                border-radius: 5px;
                &hover {
                    width: ($standar)*12.5;
                    height: ($standar)*2;
                    background-color: $primary;
                }
                a {
                text-decoration: none;
                color: $fuenteBoton;
                width: $anchoTotal;
                    &hover {
                    color: $secondary;
                    font-size: $fsTexto;
                    }
                }
            }

        }
    }
}