.textoLateral {
    margin: $standar;
    font-family: $fuentePrincipal;
    font-size: $fsTexto;
    color: $primary;
    background-color: $special;
    width: ($standar)*34;
    height: ($standar)*42;
    text-align: center;
    @include flexcolum;
    
}

.texto {
    color: $primary;
    background-color: $special;
    font-family: $fuentePrincipal;
    font-size: $fsTexto;
    margin: $standar;
    width: 95%;
    height: ($standar)*20;
    text-align: center;
    @include flexcolum;
}