// FUENTE
$fuentePrincipal: 'Jost', sans-serif;

// COLORES

$primary: rgb(128, 155, 255);
$secondary: rgb(5, 15, 51, 50%);
$background: rgb(128, 155, 255, 50%);
$special: rgb(20, 38, 102, 90%);
$fuenteBoton: rgb(255, 255, 255);

// ESTRUCTURAS
$anchoTotal: 100%;
$alturaBarras: 10%;
$standar: 1rem;
$fsC: 0;
$fsTexto: 1.5rem;
$fsBotonP: 5rem;
$fsH1: 7rem;
$fsH2: 2.5rem;





