@media screen and (max-width: 425px) {

    header {
        div {
            nav {
                ul {
                width: 70%;
                height: 30%;
                    li {
                        width: 30%;
                        height: 30%;
                    }
                }      
            }
        }

    }
    


    #logoW {
        margin-left: $standar;
    }


    main {
        
        section h1 {
            font-size: ($fsTexto)*2;
        }
        section h2 {
            font-size: $fsTexto;
            
        }
        .contenedorGrid{
            @include flexcolum;
            width: 90%;
            .reviewContainer {
                display: none;
            }
            .pagesContainer {
                .boton {
                    width: 80%;
                    font-size: $standar;
                    margin: auto;
                    a {
                        .imagen {
                            width: $anchoTotal;
                        }
                    }
                    
                }
                .texto {
                    font-size: $standar;
                    width: 90%;
                    margin: 1.5rem;
                }
            }
    
        }

        #proximamente {
            width: 95%;
            margin: 1.5rem;
            font-size: $fsTexto;
        }
    }

    
    footer {
        margin-top: 1rem;
        nav {
            ul {
                margin: none;
            }
        }
    }


    .textoboton {
        width: 35%;
        font-size: 0.6rem;
    }
    .network {
        width: 80%;
    }
    
}