@media screen and (max-width: 768px) {
    main {
        .contenedorGrid {
            display: flex;
            flex-direction: column;
            .pagesContainer {
                .texto {
                    visibility: hidden;
                }
            }
        }

        #proximamente {
            font-size: ($standar)*2;
    }

     .textoLateral {
            display: flex;
            flex-direction: row;
            font-size: $standar;
            visibility: visible !important;
            p {
                display: none;
            }
        }

        .boton {
            font-size: ($fsTexto)*2;
        }
    } 
}