footer {
    height: 10%;
    width: $anchoTotal;
    background-color: $special;
    font-size: $standar;
    text-align: center;
    @include flexcenter;
    @include nav;
    ul {
        @include flexcenter;
        flex-wrap: nowrap;
        width: $anchoTotal;
        li {
            width: 200px;
            height: 20px;
            @include flexcenter;
            margin: $standar;
            @include reset-lista;
            .network {
                width: ($standar)*3.4;
                height: ($standar)*3;
            }
            .textoboton {
                width: 127px;
                height: 20px;
                list-style-type: none;
                background-color:$background;
                color: $fuenteBoton;
                text-align: center;
                margin: 2px;
                border-radius: 5px;
                @include reset-lista;
                &hover {
                    width: ($standar)*12.5;
                    height: ($standar)*2;
                    background-color: $primary;
                }
                a {
                list-style-type: none;
                text-decoration: none;
                color: $fuenteBoton;
                width: $anchoTotal;
                    &hover {
                    color: $secondary;
                    font-size: $fsTexto;
                    }
                }
            }

        }
    }
}