header {
    width: $anchoTotal;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    font-size: $standar;
    background-color: $special;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 2px $primary;
    z-index: 10;
    div {
        width: 15%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        #logoW {
            width: 70px;
            margin-left: 5px;
        }
    }
    @include nav;
}