main {
    width: $anchoTotal;
    height: 80%;
    background-color: $secondary;
    font-size: $standar;
    section {
        h1 {
            font-family: $fuentePrincipal;
            font-size: $fsH1;
            color: $primary;
            margin-top: ($standar)*2;
            text-align: center;
        }
        h2 {
            font-family: $fuentePrincipal;
            font-size: $fsH2;
            margin: 0 0 3rem 0;
            color: $primary;
            text-align: center;
        }
        p {
            font-family: $fuentePrincipal;
            font-size: $fsTexto;
            color: $primary;
            text-align: center;
            margin: $standar;
        }
    }
}