main {
    #aportes {
    font-family: $fuentePrincipal;
    font-size: $fsH2;
    color: $primary;
    @include size;
    .forms {
        font-family: $fuentePrincipal;
        font-size: $standar;
        color: $primary;
        @include size;
        }
    #enviar {
        text-align: center;
        }
    }
}
