.boton {
    font-family: $fuentePrincipal;
    font-size: $fsH2;
    margin: $standar;
    width: $anchoTotal;
    height: 205px;
    background-color: $special;
    color: $primary;
    text-align: center;
    border-radius: $standar;
    @include flexcenter;
    @include flexcolum;
    transition: all 0.3s ease-out;
    &:hover {
        box-shadow: 0px 0px 5px 5px $primary;
    }
        a {
            width: $anchoTotal;
            height: 100%;
            @include flexcenter;
            transition: all 0.3s ease-in;
            &:hover {
                transform: scale(1.2);
            }
            .imagen {
                width: 70%;
                height: 205px;
            }
        }

        #proximamente {
            a {
                width: $anchoTotal;
                color: $primary;
                font-size: $fsBotonP !important;
                &hover {
                font-size: ($fsBotonP)+0.5;
                }
            }
        }
    }

    .botonImagen {
        @extend .boton;
        background-color: transparent;
        &:hover {
            box-shadow: none;
        }
    }