.contenedorGrid {
    width: $anchoTotal;
    font-size: $standar;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "pages review"
    "pages review"
    "pages review"
    "pages review"
    "pages review"
    "pages review"
    "prox  prox"
    ;

    .pagesContainer {
        @include flexcolum;
        grid-area: pages;
        justify-content: space-evenly !important;
        align-items: center;
        flex-shrink: 1 !important;

    }
    .reviewContainer {
        @extend .pagesContainer;
        grid-area: review;
        
    }

    #proximamente {
        grid-area: prox;
        @include flexcenter;
        width: 50%;
        margin: auto;
    }
}